html,
body,
* {
    scrollbar-color: #ffbf00 rgba(223, 223, 223, 0.7607843137);
    scroll-behavior: smooth;
}

/* Sticky Header */
header.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 100;
    /* background-color: #FFCD3A; */
    top: 0;
    transform: translateY(-100%);
    transition: .4s;
}

.sticky-header.nav-down {
    transform: translateY(0);
    transition: .4s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.service-slider-btn {
    color: #C7C7C7;
}

.service-slider-btn .arrow path {
    fill: #C7C7C7;
}

.service-slider-btn .btn-thumb {
    background-color: #FFFFFF;
}

.service-slider-btn.active {
    color: #111111;
}

.service-slider-btn.active .arrow path {
    fill: #111111;
}

.service-slider-btn.active .btn-thumb {
    background-color: #FFCD3A;
}

/* .active .service-slider-btn {
    color: #111111;
}

.active .service-slider-btn .arrow path {
    fill: #111111;
}

.active .service-slider-btn .btn-thumb {
    background-color: #FFCD3A;
} */
.project-wrapper {
    overflow: auto;
    -webkit-scroll-snap-type: y mandatory;
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
}

.project-wrapper .item {
    scroll-snap-align: start;
}

.our-process__background-blurry {
    backdrop-filter: blur(20px);
    background: #212121CC;
}

.btn {
    width: auto;
    height: auto;
    border-radius: 0.75rem;
    padding: 0.875rem 2rem;
    letter-spacing: 2px;
    line-height: 1.125rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    text-align: center;
}

.btn-primary {
    background-color: #111111;
    color: #FFCD3A;
    border: 1px solid #111111;
}

.btn-primary:hover {
    background-color: transparent;
    color: #111111;
    border: 1px solid #111111;
}

.btn-secondary {
    background-color: #ffffff;
    color: #111111;
    border: 1px solid #ffffff;
}

.btn-secondary:hover {
    background-color: #111111;
    color: #FFCD3A;
    border: 1px solid #111111;
}

.btn-transparent {
    background-color: #212121;
    color: #FFCD3A;
    border: 1px solid #FFFFFF;
}
.btn-transparent:hover {
    background-color: #FFCD3A;
    color: #212121;
    border: 1px solid #000000;
}

.btn-learn-more {
    width: auto !important;
    background-color: transparent;
    color: #000000;
    border: 1px solid #000000;
}
.btn-learn-more:hover {
    background-color: #212121;
    color: #FFCD3A;
    border: 1px solid #212121;
}



.cdu-project-card__img-details {
    display: none;
    /* Hide the details image by default */
}

.cdu-project-card__img:hover+a .cdu-project-card__img-details,
.cdu-project-card__img-details:hover {
    display: block;
    /* Show the details image when hovering over the image or details image itself */
}


@media screen and (max-width: 1366px) {
    body {
        font-size: 14px;
    }
}
@media screen and (max-width: 1024px) {
    .service-slider-btn {
        color: #111111;
    }

    .service-slider-btn.active .btn-thumb {
        background-color: #111111;
    }

    .service-slider-btn.active .btn-thumb svg path {
        fill: #FFFFFF;
    }

    .btn {
        width: 100%;
        height: 100%;
        border-radius: 0.75rem;
        padding: 0.625rem 1.5rem;
        letter-spacing: 0;
        line-height: 1.125rem;
        text-align: center;
        display: inline-block;
    }
    .cdu-main-banner .sm-display-none{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .get-in-touch-btn {
        padding: 6px 14px;
        font-size: 10px;
        border-radius: 8px;
    }
}